[phases.setup]
nixPkgs = ["python312", "nodejs-18_x"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "cd frontend && npm install && cd .."
]

[phases.build]
cmds = ["cd frontend && npm run build && cd .."]

[start]
cmd = "python3 -m gunicorn -w 4 -b 0.0.0.0:$PORT app:app"
