# Environment variables
.env
.env.local

# Node modules
node_modules/
package-lock.json

# Temporary files
tmp/
*.tar
*.tar.gz

# Playwright
.playwright/
playwright-report/

# Logs
*.log
npm-debug.log*
